.todoContainer {
  width: 430px;
  border-radius: 10px;
  text-align: center;
  margin: 50px auto;
}

.display_theme {
  position: relative;
  height: 202px;
  background-image: url('./assets/images/wallpaper.svg');
}

.display {
  position: absolute;
  bottom: 13px;
  right: 28px;
}

.date {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-align: right;
}

.time {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
}

.todo_panel {
  background-color: #FFFFFF;
  border-radius: 0 0 10px 10px;
  padding: 23px 29px;
}

.todo_list_container {
  margin-top: 36px;
}


